#sidebar-left{
  height: 100vh;
  width: 240px;
  color: white;
  background-color: #363f55;
}
.content-sidebar{

  height: 100vh;
  overflow-y: auto;
}
.content-sidebar-icon{
  height: 100vh;
}
.menu{
  padding: 2px 2px;
}
.title-menu{
  font-size: 12px;
}
#iconsidebar-left{
  /* height: 100vh; */
  color: white;
  width: 70px;
  background-color: #363f55;
}
.header-sidebar{
  min-width: 240px;
}
.dropdown:hover .item-icon {
  color: aliceblue !important;
}
.dropdown:hover .dropdown-menu1{
  display: block;
}
.dropdown-menu{
  background-color: #363f55;
  color: white;
  position: absolute;
  top: 0px;
  left:100%;
}
.item-menu:hover .item-link{
  color: aliceblue !important;
}
.item-submenu:hover .item-linksub{
  color: aliceblue !important;
}
.active{
  background-color: #1f2431 !important  ;
}
.item-menu:hover .active{
  background-color: #1f2431 !important;
}
@media (max-width:576px ) {
  #sidebar-left{
    width: 70px;
    display: none;
  }
  .logo-sm{
    display: block;
  }
  .logo-md{
    display: none;
  }
  .content-sidebar{
    display: none;
  }
  .header-sidebar{
    min-width: 70px;
  }
}
@media (min-width:576px ) {
  #sidebar-left{
    width: 70px;
    /* display: none; */
  }
  .logo-sm{
    display: block;
  }
  .logo-md{
    display: none;
  }
  .content-sidebar{
    display: none;
  }
  .header-sidebar{
    min-width: 70px;
  }
}
@media (min-width:768px) {
  #sidebar-left{
    width: 240px;
    /* display: block; */
  }
  .logo-sm{

    display: none;
  }
  .logo-md{
    display: block;
  }
  .content-sidebar{
    display: block;
  }
  .header-sidebar{
    min-width: 240px;
  }
  .header-sidebar-icon {
    min-width: 70px;
  }
}

@media (min-width:992px) {}
@media (min-width:1200) {}
